.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 147px;
    height: 43px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: var(--white);
    background: var(--white-light);
    font-size: 14px;
    transition: all 0.2s;
}