.wrapper {
    display: grid;
    grid-template-columns: auto 1050px auto;
    grid-template-rows: 105px 1fr auto;
    height: 100vh;
    grid-template-areas:
        "header header header"
        ". body ."
}



.body {
    grid-area: body;
}