.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 43px 84px;
    position: relative;
    height: 305px;
}

.title {
    position: absolute;
    left: 48px;
    top: -20px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: bold;
}

.cars {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 10px;
    overflow: auto;
    scroll-behavior: smooth;
}

.cars::-webkit-scrollbar {
    width: 0px;
}

.car {
    display: grid;
    grid-template-columns: 35px auto auto max-content;
    grid-template-rows: min-content 10px min-content;
    grid-template-areas:
        "location carname . ."
        "location div div status"
        "location regnumber . .";
}


.locIcon {
    grid-area: location;
    align-self: center;
    justify-self: center;
}

.model {
    grid-area: carname;
    color: var(--gold);
}

.divider {
    grid-area: div;
    align-self: center;
    background: linear-gradient(to right, #44444a, #1d1d24);
}

.regnumber {
    grid-area: regnumber;
}

.status {
    grid-area: status;
    align-self: center;
    margin-left: 2px;
}