html,
body {
  padding: 0;
  margin: 0;
  color: var(--white);
  background: url(../styles/back.png);
  font-family: 'GothamPro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}





* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --white-light: rgba(210, 204, 242, 0.302);
  --blue: #8096b7;
  --violet-light: #866ea8;
  --pink: #a524ff;
  --gold: #ffd422;
  --gold-light: #ffe26c;
  --grey: #3b3a47;
  --grey-dark: rgba(17, 19, 22, 0.502);
  --font-family: 'GothamPro', sans-serif;
}