.menu {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    gap: 55px;
}

.firstLevel {
    color: var(--white);
    align-self: center;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.5em;
}

.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
    fill: var(--primary);
}

.secondLevel {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--grey-dark);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.secondBlock {
    margin-left: 12px;
    margin-top: 15px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
    overflow: hidden;
}



.thirdLevel {
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    color: var(--grey-dark);
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary)
}